.navbar-light .navbar-nav .nav-link {
  color: black;
}

.logo {
  height: 100%;
  width: 50px;
  margin: 0 1rem;
}
.logout-text {
  margin: 0;
}
.navbar {
  padding: 0 1rem;

  &-nav {
    padding: 0.3rem 0;
  }
}
.nav-link {
  a {
    font-family: var(--f-OpenSans);
  }
}
.navbar-brand {
  margin: auto 0;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;

  @media (min-width: 1000px) {
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1rem;
  }
}

.logout-button {
  width: 90px;
  border: 2px solid;
  background-color: white;
  border-color: var(--t-bright-green);
  color: var(--t-royal-blue);
  font-weight: 700;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: var(--t-blue-purple);
    color: white;
    border-color: var(--t-blue-purple);
  }

  @media (min-width: 700px) {
    margin-bottom: 0;
  }
}
