.organizationpage-wrapper {
  height: 100%;
  background-color: var(--p-background-color);
}

.organizationpage-container {
  width: 100%;
  padding: 1rem;
  background-color: var(--p-background-color);
  overflow: auto;
}

.organization-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 3em;
  border: 1.5px solid var(--t-blue-purple);
  background-color: white;
}

.organization-layout {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-bottom: black 1px solid;
  padding-left: 25px;
}

.organization-members {
  border-bottom: none;
}

.event-time {
  font-size: 15px;
}

.section-heading {
  color: var(--t-royal-blue);
  font-size: 25px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.organization-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
  color: var(--t-royal-blue);

  &-logo {
    width: 80%;
    min-width: 150px;
  }

  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  &-button {
    padding: 0.5rem;
    font-weight: bold;
    width: 200px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--t-bright-green);
    color: white;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }

  .remove-functions {
    pointer-events: none;
  }

  @media (min-width: 780px) {
    flex-direction: row;

    &-button {
      font-size: 25px;
      line-height: 15px;
      height: 70px;
      width: 250px;
    }
    &-buttons-container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

//Organization-information-wrappper
.organization-information-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-text {
    font-weight: bold;
    color: var(--t-royal-blue);
  }
}

//Highlight CSS
.highlight-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-anchor {
  color: var(--t-royal-blue);
  font-weight: bold;

  &:hover {
    color: black;
  }
}
