.organizationpage-container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: var(--p-background-color);
  overflow: auto;
}

.organization-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 3em;
  border: 1.5px solid var(--t-blue-purple);
  background-color: white;
}

.organization-layout {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-bottom: black 1px solid;
  padding-left: 25px;
}

.organization-events {
  border-bottom: none;
}

.section-heading {
  color: var(--t-royal-blue);
  font-size: 25px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.organization-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
  width: 100%;
  color: var(--t-royal-blue);

  &-logo {
    width: 80%;
    min-width: 150px;
  }

  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &-buttons-container {
    display: flex;
    gap: 1rem;
  }

  &-button {
    margin: 0 auto;
    padding: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--t-bright-green);
    color: white;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }

  .remove-functions {
    pointer-events: none;
  }

  @media (max-width: 450px) {
    flex-direction: column;

    &-button {
      padding-left: 0.3rem;
      font-size: 15px;
      line-height: 15px;
    }
  }
}
